.dropdown {
  position: fixed;
  width: 133px;
  top: 92px;
  z-index: 999;
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.menu {
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  border-radius: 3px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

}

.menu__item {

  display: flex;
  height: 40px;
  align-items: center;
  padding-left: 15px;
  cursor: pointer;
}

.menu__item--delete:hover {
  color: white;
  background-color: #CF2C00;
  ;

}

.menu__item--copy:hover {
  color: white;
  background-color: rgb(14, 0, 207);
  ;
}

.menu__item__divider {
  height: 1px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
}


.menu__item .icon-button {
  margin-right: 0.5rem;
}


.menu__item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #525357;
}

.icon-right {
  margin-left: auto;
}