:root {
  --main-color: #0055FB;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}

.form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.forms {
  display: flex;
  height: 100%;
  background-color: #FFFFFF;
}

.textarea-container {
  display: flex;
  width: 100%;
  flex: 1 0 auto;
}

.textarea__caption {
  margin-top: 10px;
  margin-bottom: 3px;
}

.textarea__caption--error {
  color: #CF2C00;
}

.link-container {
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.link-container:hover .github-logo {
  animation: github-logo-spin infinite 5s linear;
}

@keyframes github-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

textarea {
  background: #FFFFFF;
  font-family: Fira Code;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  resize: none;
}

.wrap {
  display: flex;
  width: 100%;
  padding-bottom: 15px;
}

.drag-icon {
  position: absolute;
  top: 50%;
  pointer-events: none;
  left: -8px;
}

.drag-icon:hover g circle {
  fill-opacity: 0.4;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}


.left-split-container {
  margin-left: 20px;
  outline: none;
}

.left:active {
  outline: none;
}

.right-split-container {
  margin-right: 20px;
  position: relative
}

.gutter {
  width: 10px;
  position: relative;
  margin-top: 33px;
  margin-bottom: 15px;
}

.gutter::before {
  position: absolute;
  top: 50%;
  left: 2px;
  content: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 6 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Ccircle cx='2.92859' cy='2' r='2' fill='black' fill-opacity='0.2'/%3E%3Ccircle cx='2.92859' cy='9' r='2' fill='black' fill-opacity='0.2'/%3E%3Ccircle cx='2.92859' cy='16' r='2' fill='black' fill-opacity='0.2'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='4' height='18' fill='white' transform='translate(0.928589)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.gutter:hover {
  cursor: col-resize
}

.gutter:hover::before {
  content: url("data:image/svg+xml,%3Csvg width='5' height='18' viewBox='0 0 6 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Ccircle cx='2.92859' cy='2' r='2' fill='black' fill-opacity='0.4'/%3E%3Ccircle cx='2.92859' cy='9' r='2' fill='black' fill-opacity='0.4'/%3E%3Ccircle cx='2.92859' cy='16' r='2' fill='black' fill-opacity='0.4'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='4' height='18' fill='white' transform='translate(0.928589)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}

.gutter:hover .drag-icon:hover g circle {
  fill-opacity: 0.4;
}

.request__input,
.response__input {
  width: 100%;
  height: 94%;
  padding: 10px
}

.request__input:focus,
.response__input:focus {
  outline: none;
}

.forms__control {
  display: flex;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: 70px;
  /* margin-top: auto; */
}

.format_text {
  display: flex;
  border: 2px solid transparent;
  border-radius: 7px;
}

.format_text:focus {
  border: 2px solid #45A5FF;
  outline: none;
  color: var(--main-color);
}

.format_text:hover {
  color: var(--main-color);
  cursor: pointer;
}

.format_text:hover svg path {
  color: var(--main-color);
  stroke: var(--main-color)
}

.format_text:focus svg path {
  color: var(--main-color);

  stroke: var(--main-color)
}

@media only screen and (max-width: 450px) {
  .github-logo {
    display: none;
  }

  .link-container {
    width: 100%;
  }

  .left-split-container {
    margin-left: 5px
  }

  .right-split-container {
    margin-right: 5px
  }
}

@media only screen and (max-width: 450px) {
  .forms__control {}
}